*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.app{
    &.light{
        background-color: white;
        color: black;
    }
    &.dark{
        background-color: black;
        color: white;
    }
}

.switch {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &.light{
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    &.dark{
        background-color: black;
        color: white;
        border: 1px solid white;
    }
}