@import '../../assets/scss/media-query.scss';

.detail{

    padding: 50px;

    @include mq(tablet,max){
        padding: 10px;
    } 

    &__card{

        display: flex;
        align-items: center;
        padding: 20px;

        &.light{
            border: 1px solid black;
        }
        &.dark{
            border: 1px solid white;
        }

        @include mq(tablet,max){
            margin-top: 30px;
        }
    }

    &__img{
        @include mq(tablet,max){
            width: 100px;
            height: 100px;
        } 
    }

    &__title{
        margin-left: 20px;
    }

    &__top-info{
        display: flex;
        justify-content: center;

        @include mq(tablet-xl,max){
            flex-direction: column;
        } 
    }
}